<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="WF_xeelgVD-KNxUczjdZPXC2spg9YFtg4MCl7nrflps" />

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <! &mdash; [if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif] &mdash; >
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

      </header>
      <section>
        <h1>{{ page.title }}</h1>
        <p style="font-style: italic; font-weight: 100;">{{ page.date | date: "%Y-%m-%d" }}</p>

      {{ content }}

      {% if page.comments %}
      <hr>
      <div class="comments-section">
        <h3>Comments</h2>
        <ul>
          {% for comment in page.comments %}
            <li>
              <p><strong>{{ comment.author }}</strong>, {{ comment.date | date: "%Y-%m-%d" }}:</p>
              <p>{{ comment.comment }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      </section>
      <footer>
Content copyrighted with a <a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC BY 4.0 license</a>, unless otherwise noted. A version history for each item is maintained in <a href="https://github.com/dhh1128/sivanea.com">GitHub</a>. <a href="https://github.com/dhh1128/sivanea.com/issues/new">Reports of errata</a> are welcome.
      </footer>
    </div>
  </body>
</html>